{#

Description text for the Sharpspring Integration.

#}

{% trans %}

<p>The Sharpspring Integration module defines API setting entity and a Lead entity type,
 which are used to configure the webform integration with Sharpspring.</p>

{% endtrans %}
